$width-navbar: 250px;
$width-chanbar: 150px;

$padding-content: 30px 50px 30px 50px;

//$col_navbar: #202f38;
$col-navbar: #202225;
$col-chanbar: #2F3136;
$col-bck-pages: #36393F;
$col-active: #ffc107;
$col-labels: #d4d4d4;
