.LoginPage,
.RegisterPage,
.HomePage,
.UserPage,
.ChannelPage,
.ChannelCreationPage {
  width: calc(100% - #{$width-navbar});
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $col-bck-pages;
  //overflow: auto;

  .page-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-content;
  }

  .page-title {
    line-height: 60px; /*TODO: set line heights*/
    margin-bottom: 30px;
  }

  .page-subtitle {
    font-style: italic;
    color: $col-labels;
    font-size: 1.8em;
  }

  label {
    color: $col-labels;
  }
}

.ChannelPage {
  flex-direction: row-reverse;

  .page-content {
    width: calc(100% - #{$width-chanbar});
  }
}

.Loader {
  margin: auto;

  svg {
    margin: auto;
    display: block;
    shape-rendering: auto;
  }
}