.ChatBoard {
  border: 2px solid red;
  //background-color: $col-chanbar;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .MessagesList ul {
    height: calc(100% - 60px);
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 44px 44px 40px;

    .Message {
      background-color: white;
      display: inline-block;
      border-radius: 5px;
      padding: 9px;
    }

    .info-msg {
      color: red;
    }

    .your-msg {
      color: blue;
    }

    .welcome-msg {
      color: green;
    }
  }

  .InputBar {
    background: $col-chanbar;
    width: 100%;
    height: 60px;
    border-radius: 20px;

    input {
      border: 2px solid yellow;
      width: 80%;
      height: 100%;
      color: $col-labels;
    }
  }
}