//.Navbar-wrapper {
//  height: 100%;
//  width: $width-navbar;
//  background-color: $col-bck-pages;
//}

.Navbar {
  height: 100%;
  width: $width-navbar;
  padding: 30px 0 30px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $col-navbar;
  color: white;

  .Navbar-brand {
    font-size: 32px;
  }

  .Navbar-links {
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    height: 35%;
    width: 100%;
    font-size: 24px;

    .Navbar-link {
      margin-top: 25px;

      a {
        color: white;

        &.link-active, &:hover {
          text-decoration: none;
          color: $col-active;
        }
      }
    }
  }

  .Navbar-user {
    margin-top: auto;
    width: 100%;
    align-self: center;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }

}