.ChannelCard {
  width: 40%;
  color: $col-navbar;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }

  .card-sticker {
    position: absolute;
    background-color: white;
    padding: 8px;
    border-radius: 0 0 20px 0;
    /* z-index: 10000000000; */
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90%;
  }
}