.ChannelBar{
    height: 100%;
    width: $width-chanbar;
    padding: 30px 0 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $col-chanbar;
    color: white;
}